body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.checkbox {
  display: none;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}
.checkbox + label::before,
.checkbox + label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 15px;
}
.checkbox + label::before {
  background: #e9edf5;
  border: solid 2px #a2cdcd;
}
.checkbox:checked + label:before {
  content: "\2713";
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px #6e8a8a;
  background: #a2cdcd;
}
